<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Repostería</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <i class="fas fa-campground nav-icon"></i>
        <strong>Sergio Ibarra Alcalá</strong>
      </a>
    </div>
  </div>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Repostería</h1>
        <p class="lead text-muted">Estoy haciendo esto con Bootstrap, Express, EJS y Mongoose para consultar las recetas de los postres que sé preparar y saber qué ingredientes necesito comprar.</p>
      </div>
    </div>
  </section>

<section class="recetas container">

<% for(let i=0; i<recetas.length / 3; i++) { %>
  <div class="card-group">
    <% for(let j=0; j<3; j++) { %>
    <% if(j + i*3 < recetas.length) { %>
    <a href="<%= recetas[j + i*3].nombre %>">
    <div class="card">
      <img src="images/<%= recetas[j + i*3].urlFoto %>" + class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= recetas[j + i*3].nombre %></h5>
        <p class="card-text"><%= recetas[j + i*3].descripcion %></p>
        </a>
      </div>
    </div>
    <% } else { %>
      <div class="card">
      </div>
    <% } }%>
  </div>
  <% } %>
</section>

  <!-- Bootstrap scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

  <!-- FontAwesome.com -->
  <script src="https://kit.fontawesome.com/e7194b218c.js" crossorigin="anonymous"></script>
</body>

</html>
